/* reset */
html, body, div, p, pre, h1, h2, h3, h4, h5, h6, menu, address, blockquote, hr, br, center, img, map, object, applet, form, label, select, input, textarea, iframe, fieldset, legend, table, caption, thead, tbody, tfoot, tr, th, td, dl, dd, dt, ol, ul, li, 
a, abbr, acronym, span, em, strong, big, small, b, i, u, cite, q, dfn, sub, sup, tt, bdo, kbd, code, samp, var, strike, s, header, footer, nav, section, article, aside, figure, figcaption, hgroup, details, datalist,
del, ins, mark, summary, time, ruby, rt, rp, progress, meter, output, button, command, keygen, embed, canvas, audio, video {padding:0; margin:0; vertical-align:baseline;}
body {font:normal 13px/1.4 "Nanum Gothic", Dotum, arial, Tahoma; color:#4c4c4c;}
ul, ol, dl {list-style:none;}
table {border-collapse:collapse; border-spacing:0; border:0;}
th, td {vertical-align:baseline;}
fieldset {border:0;}
img {border:0; vertical-align:top;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
address, caption, cite, code, dfn, em, strong, th, var, i, b {font-style:normal; font-weight:normal;}
a {color:##4c4c4c; text-decoration:none; background:transparent;}
a:link, a:focus, a:active, a:visited, a:hover {color:inherit;}

hr {position:absolute; visibility:hidden; width:0; height:0px; border:0;}
legend {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; line-height:0; font-size:0;}
caption {visibility:hidden; overflow:hidden; width:0; height:0; line-height:0; font-size:0; text-indent:-3000em;}

input:focus {color:inherit;}
textarea {width:100%; border:1px solid #CCC;}
input[type="text"], 
input[type="password"] {height:30px; padding-left:5px; border:1px solid #d5d9e0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; *height:26px; *padding-left:0;}
input[type="button"], 
button {height:30px; padding:0 5px; border:1px solid #d5d9e0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; *height:28px; *padding:0;}
input[type="radio"], 
input[type="checkbox"] {position:relative; top:2px; margin-right:2px; *margin-right:0;}
input[type="file"], 
select {height:30px;}

input::-webkit-input-placeholder	{color:#8d97a6;} /* Webkit */
input:-moz-placeholder				{color:#8d97a6;} /* Firefox 4-18 */
input::-moz-placeholder				{color:#8d97a6;} /* Firefox 19+ */
input:-ms-input-placeholder			{color:#8d97a6;} /* IE10+ */

.clearfix {*zoom:1;}
.clearfix:after {content:""; display:block; clear:both; *zoom:1;}

header, footer, section, article, nav, menu, aside, figcaption, figure, details, hgroup, canvas {display:block;}
